.env
.venv/
__pycache__/
.pytest_cache/
*.py[cod]
logs/*.log
data/raw/*.jsonl
data/raw/*.json
data/filtered/*.jsonl
data/labels/*.jsonl
data/statistics/*.json
data/statistics/*.jsonl
data/repositories/*
!data/repositories/.gitkeep
data/analysis/*
!data/analysis/.gitkeep
data/pyg/*
!data/pyg/.gitkeep
data/pr_samples/
data/future_pr_samples/
models/*.pt
